.App {
  text-align: center;
  text-decoration: none;
}

.App_header {
  background-color: white;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
}

.headerlogo {
  padding: 7px;
  width: 80px;
  object-fit: contain;
  /* border: 1px solid palevioletred; */
}

.nav {
  padding: 5px;
  width: 350px;
  position: fixed;
  right: 0px;
  font-size: 15px;
  /* border: 1px solid palevioletred; */
}

a {  
  color: inherit;
  text-decoration: inherit;
}

a + a {
  margin: 0.3rem;
}

.Main {
  position: relative;
  top: 30px;
  text-align: center;
  display: flex;
  min-height: calc(100vh - 170px);
  flex-direction: column;
  flex: 1;
  /* min-height: calc(100vh - 200px) ; */
  font-size: 10px;
  color: black;
  /* border: 1px solid #ff9900; */
}

.Footer {
  background-color: black;
  color: white;
}

.FooterUp {
  height: 100px;
  width: 100%;
  /* border: 1px solid blue; */
}

.FooterDown {
  height: 70px;
  width: 100%;
  position: inherit;
  bottom: 0;
  background-color: rgb(31, 31, 31);
  font-size: 6px;
  /* border: 1px solid green; */
}

.copyright {
    justify-content: center;
    border: 1px solid green;
  }