.App {
  text-align: center;
  color: inherit;
  text-decoration: none;
}


/* .App_header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  font-size: 10px;
  color: gray;
} */

.headerlogo {
  padding: 5px;
  width: 80px;
  object-fit: contain;
}

.nav {
  width: 50%;
  position: fixed;
  right: 50px;
  font-size: 15px;
}

a {  
  color: inherit;
  text-decoration: inherit;
}

a + a {
  margin: 0.3rem;
}

.Main {
  border: 1px solid #ff9900;
  text-align: center;
}

/* .Main {
  border: 1px solid #ff9900;
  position: fixed;
  top: 50px;
  min-height: 15px;
  height: calc(100vh - 200px) ;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: top center;
  font-size: 10px;
  color: black;
} */

/* .Footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 100%;
  font-size: 10px;
  color: white;

  align-items: top center;

} */

/* .FooterUp {
  position: fixed;
  bottom: 50px;
  height: 100px;
  width: 100%;
  background-color: black;
  border: 1px solid blue;
}

.FooterDown {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  justify-content: bottom;
} */