.App {
  text-align: center;
}

.App_header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.headerlogo {
  padding: 5px;
  background-color: white;
  width: 80px;
}

.Body {
  height: clac(100vh - 300px) ;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.Footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: white;

}

.FooterTop {
  height: 150px;
  background-color: rgb(75, 75, 75);
}

.FooterUnder {
  height: 150px;
  background-color: black;
  justify-content: bottom;
}