.App {
  text-align: center;
}

.App_header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  font-size: 10px;
  color: gray;
}

.headerlogo {
  padding: 5px;
  width: 80px;
}

.Body {
  height: clac(100vh - 300px) ;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  color: black;
}

.Footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100%;
  font-size: 10px;
  color: white;

  align-items: top center;

}

.FooterUp {
  height: 150px;
}

.FooterDown {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  justify-content: bottom;
}