$gray: #525252; // 주석 선언

.Button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 0px;
  border: none;
  cursor: pointer;

  height: 2.25rem;
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;

  background: $gray; // 주석 사용
  &:hover {
    background: lighten($gray, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken($gray, 10%); // 색상 10% 어둡게
  }
}

.Title {
  display: inline-flex;
  align-items: center;
  color: black;
  font-weight: bold;
  outline: 3px solid;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  height: 2.25rem;
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
