// $gray: #525252; // 주석 선언

.Button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 0px;
  border: none;
  height: 2.25rem;
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  background: gray;

  &:hover {
    background: lighten(gray, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken(gray, 10%); // 색상 10% 어둡게
  }

  //메인 화면 버튼
  &.view {
    background: rgb(185, 185, 185);
    text-align: center;

    &:hover {
      background: lighten(rgb(185, 185, 185), 10%); // 색상 10% 밝게
    }
  
    &:active {
      background: darken(rgb(185, 185, 185), 10%); // 색상 10% 어둡게
    }
  }
}

// Title.js
.Title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 30px;
  height: 2.25rem;
  width: 15rem;
  margin: 1.5rem;
  background: none;
}

.Outline {
  color: white;
  background-color: #ffffff00;
  border: 1px solid white;
  border-radius: 30px;
  height: 3rem;
  width: 15rem;
  top: 7.5rem;
  position: relative;
  z-index: -1;
}

.Works, .creoKitchen {
  height: 250px;
  position: relative;
  top: -3rem;
  z-index: -2;
}

.submit {
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  margin: 30px;
}

h3 {
  padding: 2.5rem;
  
  @media (max-width: 768px) {
     h3 {
      background-color: palevioletred;
    }
  }
}

//임시
.imgbox {
  height: 15rem;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

div {
  overflow: auto;
}

//Contact.js 
.contact {
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.box {
  width: 200px;
  height: 30px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.message {
  width: 200px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}