// $gray: #525252; // 주석 선언

.Button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 0px;
  border: none;
  height: 2.25rem;
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  background: gray;

  &:hover {
    background: lighten(gray, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken(gray, 10%); // 색상 10% 어둡게
  }

//메인 화면 버튼
.view {
  text-align: center;
  background: rgb(185, 185, 185);
  &:hover {
    background: lighten(rgb(185, 185, 185), 10%); // 색상 10% 밝게
  }
  &:active {
    background: darken(rgb(185, 185, 185), 10%); // 색상 10% 어둡게
  }
}
}

// Title.js
.Title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 30px;
  height: 2.25rem;
  width: 15rem;
  margin: 1.5rem;
  background: none;
}

.Outline {
  color: white;
  background: salmon;
  border: 1px solid white;
  border-radius: 30px;
  height: 3rem;
  width: 15rem;
  // z-index: -1;
  position: relative;
  top: 5rem;
  // left: 50%;
  // transform: translate(-50%,-40%);
}

.WorksHeader {
  background: url("https://mblogthumb-phinf.pstatic.net/20160106_209/kukjeart_inc_1452055876208XMVrB_JPEG/%C5%E4%B3%A2_%285%29.jpg?type=w800") no-repeat center;
  height: 500px;
}

.CareersHeader {
  background: url("https://w.namu.la/s/b8e7f427d377cdb94696db8eb193494f0f5b745abdf5e2577a89de80607e5aad0a8306842f9123eb6d265e72825c645c4f27c3c1fb6590cff420f50f473b650b56ca3d222ec64b63945887d2d4f07f118210e5d5478cc5684197e1f2e61394d1") no-repeat center;
  height: 500px;
}

// .Works, .creoKitchen {
//   height: 500px;
//   position: relative;
//   z-index: -2;
//   // @media (max-width: 768px) {
    
//   // }
// }

.submit {
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  margin: 30px;
}

h3 {
  padding: 2.5rem;
  @media (max-width: 768px) {
     h3 {
      background-color: palevioletred;
    }
  }
}

p {
  padding: 1rem;
}

// div {
  // border: 1px solid salmon;
  // overflow: auto;
// }

//Contact.js 
.contact {
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.box {
  width: 200px;
  height: 30px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.message {
  width: 200px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}