.page-template {
    // margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2rem;

    @media(max-width: 768px) {
        margin-top: 1rem;
        width: calc(100% - 2rem);

    .text {
        flex: 1;
        word-break: break-word;
    }

    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
    }
    .content {
        margin-top: 1rem;
    }
}

.home {
    border: 1px solid goldenrod;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    @media(max-width: 768px) {
        border: 1px solid slateblue;
        margin: 0 auto;
        width: 100%;
    }
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 1rem;
    align-items: center;
    padding: 0.5rem;
    display: flex;
    .text {
        flex: 1;
        word-break: break-word;
    }

    &:nth-child(odd) {
        background: rgb(230, 230, 230);
    }

    .item + .item {
        border-top: 1px solid black;
    }
}