.page-template {
    // margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    // padding-top: 2rem;

    @media(max-width: 768px) {
        margin-top: 0.5rem;
        width: calc(100% - 2rem);

    .text {
        flex: 1;
        word-break: break-word;
    }

    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
    }
    .content {
        margin-top: 1rem;
    }
}

.home {
    background:#dbff99;
    width: 1024px;
    margin: 0 auto;
    padding: 1rem;

    @media(max-width: 768px) {
        background: yellowgreen;
        margin: 0 auto;
        width: calc(100% - 2rem);
    }
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    // padding-top: 1rem;
    align-items: center;
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    .text {
        flex: 1;
        word-break: break-word;
    }

    &:nth-child(odd) {
        background: rgb(230, 230, 230);
    }

    .item + .item {
        border-top: 1px solid black;
    }
}