<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="">LOGO</a>
        </div>

        <div class="navbar__menu">
            <li><a href="">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="">TWITTER</a></li>
            <li><a href="">QNA</a></li>
            <li><a href="">DD</a></li>

        </div>

        <ul class="navbar__links">


        </ul>

    </nav>
</body>
</html>